body{
    font-family: 'Encode Sans SC', sans-serif;
    margin: 0px;
    padding: 0px;
}

/*======================================================================================== =============================header-and-nav-bar-stylesheet-start====================================================================================================================*/

.search-icon{
    position: absolute;
    top: 21px;
    left: 51%;
    font-size: 17px;
    color: #b3adad;
}
#navbar-item{
    position: absolute;
    top: -7px;
    left: 60%;
    font-size: 18px;
}
#navbar-item ul li{
    padding: 11px 21px;
    transition: 0.5s ease-in;
}
#navbar-item ul li a{
    color: black;
    font-weight: 500;
    transition: color 0.8s ease-in;
}
#navbar-item ul li a:hover{
    color: #fff;
}
#navbar-item ul li:hover{
    background-color: lightblue;
}
/*======================================================================================== =============================header-and-nav-bar-stylesheet-End====================================================================================================================*/

/*======================================================================================== =============================banner-section-stylesheet-End====================================================================================================================*/


.banner-title{
    font-size: 48px;
}
.banner-span{
    font-size: 33px;
    font-weight: 600;
    color: #FF136F;
    margin-bottom: 20px;
}
#buy-now-button{
    background-color: #FF589B;
    border: 1px solid #FF589B;
    font-weight: 700;
    margin-top: 20px;
    padding: 8px 22px;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 10px;
    outline: none;
    transition: 0.6s ease-in;
}
#buy-now-button:hover{
    background-color: #f884b37e;
    color: #000;
}