body{
    font-family: 'Encode Sans SC', sans-serif;
    margin: 0px;
    padding: 0px;
}

/*======================================================================================== =============================header-and-nav-bar-stylesheet-start====================================================================================================================*/

.search-icon{
    position: absolute;
    top: 21px;
    left: 51%;
    font-size: 17px;
    color: #b3adad;
}
#navbar-item{
    position: absolute;
    top: -7px;
    left: 60%;
    font-size: 18px;
}
#navbar-item ul li{
    padding: 11px 21px;
    transition: 0.5s ease-in;
}
#navbar-item ul li a{
    color: black;
    font-weight: 500;
    transition: color 0.8s ease-in;
}
#navbar-item ul li a:hover{
    color: #fff;
}
#navbar-item ul li:hover{
    background-color: #FF589B;
}
/*======================================================================================== =============================header-and-nav-bar-stylesheet-End====================================================================================================================*/

/*======================================================================================== =============================banner-section-stylesheet-Start====================================================================================================================*/


.banner-title{
    font-size: 48px;
}
.banner-span{
    font-size: 33px;
    font-weight: 600;
    color: #FF136F;
    margin-bottom: 20px;
}
#buy-now-button{
    background-color: #FF589B;
    border: 1px solid #FF589B;
    font-weight: 700;
    margin-top: 20px;
    padding: 8px 22px;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 10px;
    outline: none;
    transition: 0.6s ease-in;
}
#buy-now-button:hover{
    background-color: #f884b37e;
    color: #000;
}

/*======================================================================================== =============================banner-section-stylesheet-End====================================================================================================================*/
/*======================================================================================== =============================Catagory-section-stylesheet-start====================================================================================================================*/

#shpe1{
    background-image: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
    height: 120px;
    border-radius: 15px;
    transition: 0.6s ease-in;
}
#shpe1:hover{
    box-shadow: 10px 25px 50px #a09c9c;
}
.watch{
    margin-left: 80px;
}
#shpe2{
    background-image: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    height: 120px;
    border-radius: 15px;
    transition: 0.6s ease-in;
}
#shpe2:hover{
    box-shadow: 10px 25px 50px #a09c9c;
}
#shpe3{
    background-image: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
    height: 120px;
    border-radius: 15px;
    transition: 0.6s ease-in;
}
#shpe3:hover{
    box-shadow: 10px 25px 50px #a09c9c;
}

/*======================================================================================== =============================catagory-section-stylesheet-End====================================================================================================================*/
/*======================================================================================== =============================shoes-section-stylesheet-start====================================================================================================================*/


.shoes{
    width: 340px;
    box-shadow: 17px 11px 27px #b7b1b1;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.6s ease-in;
}
.shoes:hover{
    box-shadow: none;
}

.shoes-img img{
    width: 90%;
    padding-bottom: 10px;
    transition: 0.6s ease-in;
}
.shoes-img img:hover{
    transform: scale(1.1);
}
#shoes-button{
    margin-left: 79px;
    background-color: black;
    color: #fff;
    padding: 6px 19px;
    border: 2px solid black;
    transition: 0.6s ease-in;
}
#shoes-button:hover{
    background-color: white;
    border: 2px solid black;
    color: #000;
}
/*======================================================================================== =============================shoes-section-stylesheet-End====================================================================================================================*/
/*======================================================================================== =============================contact-section-stylesheet-start====================================================================================================================*/
#email-input{
    width: 310px;
    border: 1px solid lightgray;
    padding: 6px 13px;
}
#send-button{
   background-image: linear-gradient(180deg, #FF589B 0%, #FF136F 100%);;
    color: #fff;
    border: 2px solid;
    border-image:linear-gradient(180deg, #FF589B 0%, #FF136F 100%);;
    padding: 5px 24px;
    letter-spacing: 1px;
    transition: 0.6s ease-in;
}
/*======================================================================================== =============================contact-section-stylesheet-End====================================================================================================================*/